@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.bg-blue{
    background-color: #4E47FF;
}
.color{
    color: #fff;
}

.btn-prim{
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/* nav  Styles*/
header{
    background-image: url('../Assets/Hero-bg.png');
    height: 100vh;
}

nav{
    padding: 50px 150px 10px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4E47FF;
}
nav h3{
    font-size: 34px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

/* hero style */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hero-text{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    width: 905px;
    height: 152px;
    margin-bottom: 37px;
}

main{
    padding: 50px 150px 10px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;    
}

.l-container, .r-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.l-container {
    align-items: flex-start;
    padding: 0 40px;
}
.l-container h1{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}
.l-container p {
    font-size: 24px;
    margin-bottom: 23px;
    color: #252432;
    opacity: 0.5;
}

.r-container {
    align-items: center;
    padding: 0 40px;
}

.r-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 48px;
}
